<h1>
    Lisburn food places
</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-14">
            @for (business of business_list; track business._id) {
                @for (place of business.places; track place._id) {
                    <div class="card text-white bg-primary mb-4"
                         style = "cursor: pointer" 
                         [routerLink] = "['/lisburnBusinesses', place._id.$oid]">
                        <div class="card-header">
                            {{ place.info?.name }}
                        </div>
                        <div class="card-body">
                            This business is based in {{ place.location?.address?.city }}
                        </div>
                        <div class="card-footer">
                            Rating: {{ place.ratings?.average_rating }}
                        </div>
                    </div>
                }
            }
        </div> <!-- col -->
    </div> <!-- row -->
    <div class="row"> 
        <div class="col-sm-4"> 
           <button class="btn btn-primary" (click)="previousPage()">
                Previous
            </button> 
        </div> 
        <div class="col-sm-4 text-center">
            Page {{ this.page }} of {{ dataService.getLastPageNumber() }}
        </div>
        <div class="col-sm-4 text-end"> 
           <button class="btn btn-primary" (click)="nextPage()">
                Next
            </button> 
        </div> 
     </div> 
</div> <!-- container -->

